html {
  font-family: 'Josefin Sans', sans-serif;
  color: #555;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.mds-icon {
  width: 48px;
  stroke-linecap: square;
  stroke-linejoin: square;
  stroke-miterlimit: 0.5px;
  fill: none;
  stroke: white;
  stroke-width: 1px;
  margin-top: 80px;
}

.headroom--pinned {
  transform: translateY(0%);
  box-shadow: 0;
}

.headroom--pinned.headroom--not-top {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.18);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom {
  will-change: transform;
  transition: transform 200ms ease-in-out, box-shadow 200ms ease;
}
